[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pillow = "*"
boto3 = "*"
flasgger = "*"
requests = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
